* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    overflow-x: hidden;
}
.container-pg-1 {
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.header {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header a {
    color: #ECCEB4;
    cursor: pointer;
    font-weight: 200;
    font-size: 16px;
    border: none;
    font-weight: 200;
    text-decoration: none;
}

.header a:hover {
    color: #B2876D;
    font-size: 17px;
    transition: 0.5s ease-in-out;
}

.header img {
    height: 70px;
    color: #ECCEB4;
}

.logo {
    max-width: 450px;
    height: auto;
}

.mirela-front{
    max-width: 500px;
    height: auto;
    display: flex;
    border-radius: 50%;
    border: 3px solid #B2876D;
}

h1 {
    color: #ECCEB4;
    font-size: 25px;
    font-weight: 400;
}

button {
    color: #B2876D;
    background-color: #301B0F;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}
.cardapio{
    margin-left: 10px;
}

.container-1 button:hover {
    opacity: 0.5;
    color: #ccc;
    transition: 0.5s;
}



/*   _____________________________PAGINA 02 _______________________________*/
.container-pg-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}

.paragrafo-texto {
    width: 500px;
    color: #ECCEB4;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    margin-right: 20px;
    width: 30vw;
    height: auto;
}


.container-apresetação {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.carrossel {
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.container-img {
    display: flex;
    transform: translateX(0);
}

.img-c {
    object-fit: cover;
    max-width: 100%;
    max-height: auto;
    border-radius: 50%;
    border: 2px solid #B2876D;
}

/*   _____________________________PAGINA 03 _______________________________*/


.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    width: 400px;
    height: 600px;
    padding: 32px;
    border-radius: 32px;
}

.slides{
    gap:8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-pg3{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    color: #B2876D;
    text-decoration: none;
}

.prev-text{
    margin-top: 4px;;
}

.title{
    font-size: 28px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.content{
    width: 200px;
    align-items: center;
    color: #ECCEB4;

}

h2{
    color: #B2876D;
        font-weight: 400;
}

.img-card{
    width: auto;
    height: 160px;
    border-radius: 50% ;
    border: 2px solid #B2876D;
}
h3{
    color: #ECCEB4;
    font-size: 25px;
    font-weight: 400;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.button{
    background-color: #B2876D;
    color: #fafafa;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 999px;
}

.dot-box{
    text-align: center;
}

.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background-color: #c1c1c1;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .6s ease;
}

.active, .dot:hover{
    background-color: #B2876D;
}

.fade{
    animation-name: fade;
    animation-duration:1.5s ;
}

@keyframes fade{
    from {opacity: .2}
    to {opacity: 1}
}
/*_________________________________ footer ____________________________________________*/
footer {
    margin-top: 30px;
    background-color: #202020;
    color: #ECCEB4;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ECCEB4;
    text-decoration: none;
    margin: 0 10px;
}
footer p{
    color: #ECCEB4;
    font-weight: 200;
}


.icon-footer {
    width: 30px;
}

/* ________________________________BACKGROUND______________________________________ */


video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7));
    position: fixed;
    top: 0;
    z-index: -1;
}


.link-whtasapp {
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#foto-color{
    display: none;
}

/*_______________________________ SCROLLreveall _______________________________*/

.efeito-txt-topo,
.efeito-img-topo,
.efeito-img-pg2,
.efeito-txt-pg2,
.efeito-card-1,
.efeito-card-2,
.efeito-card-3,
.efeito-txt-pg3 {
    visibility: hidden;
}

html {
    scroll-behavior: smooth;
}

.navigation{
    display: none;
}
/*   _____________________________ RESPONSIVO _______________________________*/
@media screen and (max-width: 1400px) {
   
    .container-1 {
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
    }
    .container-pg-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .mirela-front{
        display: none;
    }
    h1{
        font-size: 15px;
        text-align: center;
    }
 
    .link-whtasapp{
        display: none;
    }
/*_____________________________________pagina 02_________________________*/
.container-pg-2{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 30px
    ;
}

.paragrafo-texto  {
    font-size: 14px;    
    text-align:center;
}

.navigation{
    display: none;
}
}

@media screen and  (max-width: 1010px) {
.cards{
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
}
@media screen and  (max-width: 850px) {
    body{
        overflow-x: hidden;
    }
    
    .logo{
        margin-top: -150px;
        width: 350px;
    }
    .header{
        height: 60px;
    }
    .header a{
        font-size: 13px;
    }
/*_________________________________pagina 02____________________________________*/

.paragrafo-texto{
    width: auto;
}
.container-apresetação{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0px 0px 0px 50px
}
.carrossel{
    display: none;
}

#foto-color{
    display: flex;
    max-width: 100%;
    max-height: auto;
    border-radius: 50%;
    border: 2px solid #B2876D;
}
.cards{
    width: 50%;
}
/*___________________________________pgina 03_________________________________*/

.card{
    width: 350px;
    height: 570px;
}
}